@import "../../scss/mixins";

.discover {
  padding-top: 100px;
}

.input_holder {
  margin-bottom: 65px;
  max-width: 480px;
}

.row {
  margin-bottom: 95px;
  @include xl {
    display: flex;
    justify-content: space-between;
  }
}

.filters_holder {
  width: 200px;
  margin-bottom: 50px;

  @include md {
    width: 500px;
  }
}

.burger_list {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr ;
  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include xl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.burger_item {
  display: flex;
  justify-content: center;
}
