@import "../../scss/mixins";
@import "../../scss/functions";
@import "../../scss/variables";

.discover {
  padding: 100px 0;
}

.input_holder {
  margin-bottom: 65px;
  max-width: 480px;
}

.row {
  margin-bottom: 35px;
  @include xl {
    display: flex;
    justify-content: space-between;
  }
}

.filters_holder {
  width: 200px;
  margin-bottom: 50px;

  @include md {
    width: 500px;
  }
}

.list_title {
  font-weight: 600;
  font-size: rem(42);
  color: $white-1;
  margin-bottom: 95px;
}

.burger_list {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr;
  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include xl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.burger_item {
  display: flex;
  justify-content: center;
}

.pagination_holder {
  display: flex;
  justify-content: center;
}