html {
  overflow-y: scroll;
  ::-webkit-scrollbar {
    width: 0.7vw;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background-color: $black-3;
  }
}

body {
  background: linear-gradient(270deg, $black-2 0%, $black-3 60%);
  font-size: rem(18);
  font-family: $montserrat;
  color: $white-1;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  padding: 130px 0 100px;
  @include xl {
    padding: 200px 0 100px;
  }
}
