body {
  background: linear-gradient(265deg, $black-2 0%, $black-3 60%);
  font-size: rem(18);
  font-family: $montserrat;
  color: $white-1;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}
